@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #b1d0e0;
  font-family: lobster, sans-serif;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.dragDropList {
  list-style-type: none;
  width: 240px;
}
.dragDropList li {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  border: solid 5px #1a374d;
}
.dragDropList .nr {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #406882;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}
.draggableDiv {
  display: flex;

  cursor: pointer;
  flex: 1;
  justify-content: space-around;
  background-color: #6998ab;
}
.fas {
  align-self: center;
}
